@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #333;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 99vh; /* Altezza uguale all'altezza della viewport */
    width: 100vw;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 55px;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family:'Oswald', sans-serif;

}

.navbar-brand img.logo {
    height: 50px; /* Regola l'altezza del logo */
    width: auto;
    margin-right: 8px; /* Spazio tra il logo e il testo */
}

.search-bar {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0rem;
}

.search-bar input[type="text"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.search-bar button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #f05a28;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.search-bar button:hover {
    background-color: #e04820;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .buttons {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 4px;
}

.navbar-right .buttons img {
    height: 24px; /* Uniforma l'altezza dell'icona del carrello */
    width: auto;
    margin-left: 0.5rem; /* Spazio tra il testo e l'icona */
}

.navbar-right .buttons:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Messaggi */
.alert {
    background: #f44336;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    text-align: center;
}

/* Contenitore Prodotti */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

/* Vetrina Prodotti */
.featured-products, .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Scheda Prodotto */
.product-card {
    margin-left: 4px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(33.333% - 1rem);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    border-radius: 4px;
    cursor: pointer; /* Aggiungi il cursore pointer per indicare che l'immagine è cliccabile */
}

.product-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer; /* Aggiungi il cursore pointer per indicare che il nome è cliccabile */
}

.product-card p {
    margin: 0.5rem 0;
    color: #666;
}
.product-card a {
    text-decoration: none;
    color: inherit; /* Mantiene il colore del testo del nome del prodotto */
}

.product-card a:hover img {
    opacity: 0.8; /* Opacità dell'immagine al passaggio del mouse */
}

/* Sezione Vai allo Shop */
.shop-section {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.shop-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.shop-description {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.shop-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #66ff61;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.shop-button:hover {
    background-color: rgba(97, 255, 105, 0.9);
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Limita la larghezza del footer */
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-right a {
    text-decoration: none;
    margin-left: 10px;
}

.footer-right img {
    width: 24px; /* Dimensione icone social */
    vertical-align: middle;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}


.back-link {
    margin-bottom: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 22px;
}

.back-link a:hover {
    text-decoration:none;
}

.product-detail {
    display: flex;
    gap: 20px;
}

.product-image {
    flex: 1;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 16px;
    margin: 5px 0;
}

.price {
    font-size: 21px;
    color: #28a745;
    margin: 15px 0;
}

.add-to-cart-btn {
    background-color: #f05a28;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}